__pycache__/
.pytest_cache/
.venv/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.log
dist/
build/
*.egg-info/
coverage.xml
htmlcov/
.coverage*
/.idea/
/.vscode/*
!/.vscode/settings.json
outputs/
audit_log.jsonl
dist/
*.egg-info/
